<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Auto Home</title>

    @include('layouts/icons')
    @include('layouts/styles')
  </head>

  <body>
    @include('layouts/navbar')
    
    <div id="wrapper">
      @include('layouts/sidebar')
      
      <div class="container-fluid">
        @!section('content')    
      </div>
    </div>
  </body>
</html>
