{{ script('vendor/jquery/jquery.min.js') }}
{{ script('vendor/bootstrap/js/bootstrap.bundle.min.js') }}
{{ script('vendor/jquery-easing/jquery.easing.min.js') }}
{{ script('vendor/chart.js/Chart.min.js') }}
{{ script('vendor/datatables/jquery.dataTables.js') }}
{{ script('vendor/datatables/dataTables.bootstrap4.js') }}
{{ script('js/sb-admin.min.js') }}
{{ script('https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js') }}